[submodule "os_note"]
	path = os_note
	url = git@github.com:lihao-github-create/os_note.git
[submodule "tools_note"]
	path = tools_note
	url = git@github.com:lihao-github-create/tools_note
[submodule "autosar_note"]
	path = autosar_note
	url = git@github.com:lihao-github-create/autosar_note
[submodule "Infra"]
	path = Infra
	url = git@github.com:lihao-github-create/Infra
